.oc_branding_logo {
  width: 210px;
}
.oc_icon_back {
  color: #337ab7 !important;
}
.oc_icon_front {
  color: white !important;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 0px;
  }
}
.navbar-nav {
  background-color: #0a78d1;
}
.site-heading {
  color: white;
}
.oc_fixed {
  position: relative;
  top: -200px;
}
.oc_heading {
  color: #fff !important;
  text-align: center;
  font-size: 150% !important;
}
.oc_title_image_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.oc_title_image {
  width: 100%;
  max-width: 100%;
  height: auto;
  left: 0px;
  position: relative;
  object-fit: inherit;
  z-index: -100;
}
.oc_header {
  width: 100%;
  height: 440px;
  top: 0px;
  left: 0px;
  position: relative;
  object-fit: inherit;
  z-index: 10;
}
@media screen and (max-width: 670px) {
  .oc_header {
    height: 300px;
  }
}
@media screen and (max-width: 460px) {
  .oc_header {
    height: 200px;
  }
}
@media screen and (max-width: 350px) {
  .oc_header {
    height: 120px;
  }
}
.oc_main {
  width: 100%;
  top: 0px;
  left: 0px;
  position: relative;
  object-fit: inherit;
  background-color: white;
}
.quicktabs-style-navlist ul.quicktabs-tabs li {
  display: inherit;
  background: inherit;
  list-style-type: inherit;
  padding: inherit;
  white-space: inherit;
}
/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sf-verticalr {
  width: 150px;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */
  /*
  min-width: 12em;
  *width: 12em;
  */
}
.sf-verticalr ul {
  left: -100%;
  /* MY EDIT: THIS WORKS OK AT 2nd LEVEL */
  top: 0;
}
.sf-verticalr > li {
  float: none;
}
.sf-verticalr li {
  width: 100%;
}
.sf-verticalr ul ul li {
  left: -200%;
  /* MY EDIT: THIS WORKS OK AT 3rd LEVEL BUT SHADOW IS MISPLACED */
  top: 0;
}
/*** alter arrow directions ***/
.sf-verticalr.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5);
}
.sf-verticalr.sf-arrows li > .sf-with-ul:focus:after,
.sf-verticalr.sf-arrows li:hover > .sf-with-ul:after,
.sf-verticalr.sf-arrows .sfHover > .sf-with-ul:after {
  border-left-color: white;
}
.group_nav_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group_nav {
  width: 150px;
  /* Set a width if you like */
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 1500;
}
.group_nav_text a {
  position: relative;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  color: white;
  /* Black text color */
  text-decoration: none;
  /* Remove underline from links */
}
.group_nav_text a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}
.group_nav_text a.active {
  background-color: #4CAF50;
  /* Add a green color to the "active/current" link */
  color: white;
}
.sfHoverR {
  right: 0;
  top: 0;
}
.sfHover {
  left: 0;
  top: 0;
}
ul {
  list-style-type: none;
  padding-left: 5px;
  padding-top: 9px;
}
ul.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
  list-style-type: none;
}
ul.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
  list-style-type: none;
}
ul.sf-menu.sf-style-white.sf-navbar {
  width: 100%;
}
ul.sf-menu.sf-style-white ul {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-style-white a,
ul.sf-menu.sf-style-white a:visited,
ul.sf-menu.sf-style-white span.nolink {
  border: 0 none;
  color: #005bb7;
  padding: 0.75em 1em;
}
ul.sf-menu.sf-style-white a.sf-with-ul,
ul.sf-menu.sf-style-white span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
ul.sf-menu.sf-style-white.rtl a.sf-with-ul,
ul.sf-menu.sf-style-white.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
ul.sf-menu.sf-style-white span.sf-description {
  color: #aaa;
  display: block;
  font-size: smaller;
  line-height: 1.5;
  margin: 0.25em 0 0 0;
  padding: 0;
}
ul.sf-menu.sf-style-white li:hover,
ul.sf-menu.sf-style-white li.sfHover,
ul.sf-menu.sf-style-white a:focus,
ul.sf-menu.sf-style-white a:hover,
ul.sf-menu.sf-style-white span.nolink:hover {
  outline: 0;
}
.sf-menu.sf-style-white.sf-navbar li ul li ul {
  background: transparent;
}
div.sf-accordion-toggle.sf-style-white a {
  background: #210c02;
  border: 1px solid #381301;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em 1em 1em;
  position: relative;
}
div.sf-accordion-toggle.sf-style-white > a:after {
  content: "≡";
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  speak: none;
}
div.sf-accordion-toggle.sf-style-white a.sf-expanded,
ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded {
  background: #52250f;
}
div.sf-accordion-toggle.sf-style-white a.sf-expanded,
ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded > a,
ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
ul.sf-menu.sf-style-white.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
ul.sf-menu.sf-style-white.sf-accordion li li a,
ul.sf-menu.sf-style-white.sf-accordion li li span.nolink {
  padding-left: 2em;
}
ul.sf-menu.sf-style-white.sf-accordion li li li a,
ul.sf-menu.sf-style-white.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
ul.sf-menu.sf-style-white.sf-accordion li li li li a,
ul.sf-menu.sf-style-white.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
ul.sf-menu.sf-style-white.sf-accordion li li li li li a,
ul.sf-menu.sf-style-white.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}
ul.sf-menu.sf-style-white.rtl.sf-accordion li li a,
ul.sf-menu.sf-style-white.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li a,
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li li a,
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li li li a,
ul.sf-menu.sf-style-white.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
ul.sf-menu.sf-style-white li.sf-multicolumn-wrapper ol,
ul.sf-menu.sf-style-white li.sf-multicolumn-wrapper ol li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-style-white li.sf-multicolumn-wrapper a.menuparent,
ul.sf-menu.sf-style-white li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.oc_tabs_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.oc_tabs {
  width: 40px;
  /* Set a width if you like */
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 1500;
}
/*** ESSENTIAL STYLES ***/
.sfr-menu,
.sfr-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  color: #337ab7;
}
.sfr-menu li {
  position: relative;
}
.sfr-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.sfr-menu > li {
  float: left;
}
.sfr-menu li:hover > ul,
.sfr-menu li.sfrHover > ul {
  display: block;
}
.sfr-menu a {
  display: block;
  position: relative;
}
.sfr-menu ul ul {
  top: 0;
  left: 100%;
}
/*** DEMO SKIN ***/
.sfr-menu {
  float: left;
  margin-bottom: 1em;
}
.sfr-menu ul {
  min-width: 15em;
  /* allow long menu items to determine submenu width */
  *width: 15em;
  /* no auto sub width for IE7, see white-space comment below */
  padding-top: 9px;
  /* OC move the text down a bit relative to icons */
  padding-right: 6px;
}
.sfr-menu a {
  /*border-left: 1px solid #fff;*/
  text-decoration: none;
  zoom: 1;
  /* IE7 */
}
.sfr-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  transition: background .2s;
}
.sfr-menu li:hover,
.sfr-menu li.sfrHover {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}
/*** arrows (for all except IE7) **/
.sfr-arrows .sfr-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sfr-arrows .sfr-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  /* MY EDIT: PLACES ARROWS AT MOST LEFT, IT WORKS OK */
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
}
/* styling for right-facing arrows */
.sfr-arrows ul .sfr-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
}
/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sfr-vertical {
  width: 75px;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */
  /*
  min-width: 12em;
  *width: 12em;
  */
}
.sfr-vertical ul {
  left: -100%;
  /* MY EDIT: THIS WORKS OK AT 2nd LEVEL */
  top: 0;
}
.sfr-vertical > li {
  float: none;
}
.sfr-vertical li {
  width: 100%;
}
.sfr-vertical ul ul {
  left: -100%;
  /* MY EDIT: THIS WORKS OK AT 3rd LEVEL BUT SHADOW IS MISPLACED */
  top: 0;
}
/*** alter arrow directions ***/
.sfr-vertical.sfr-arrows > li > .sfr-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
}
