# Ignore paths that contain user-generated content.
.DS_Store
.prodgit
.devgit
.devgitignore
.prodgitignore
/bin
/docroot/core
/docroot/modules/contrib
/docroot/themes/contrib
/docroot/libraries
/docroot/profiles/varbase
vendor/
/docroot/themes/custom/oc_theme/node_modules/
/docroot/themes/custom/octheme_bs4/node_modules/
bower_components/
.sass-cache/
/themes/vartheme/css/variables.css
/themes/vartheme/css/variables.css.map
/themes/vartheme/css/theme/theme-variables.css
/themes/vartheme/css/theme/theme-variables.css.map
/themes/vartheme/VARTHEME_SUBTHEME/css/variables.css
/themes/vartheme/VARTHEME_SUBTHEME/css/variables.css.map
/themes/vartheme/css/mixins.css
/themes/vartheme/css/mixins.css.map
/themes/vartheme/js/script.min.js
/themes/vartheme/VARTHEME_SUBTHEME/css/mixins.css
/themes/vartheme/VARTHEME_SUBTHEME/css/mixins.css.map
/themes/vartheme/VARTHEME_SUBTHEME/js/script.min.js
/modules/varbase_features/varbase_tour/js/varbase_tour.scripts.min.js

/docroot/sites/default/settings.local.php
npm-debug.log
docroot/*/settings.local.php
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*/settings.local.php
docroot/*/settings.local.php
docroot/*/settings.php
docroot/sites/default/settings.php
acquia-file
/log

/private
/cmi


# Ignore vim swp files and gedit temp files
*.swp
*.*~
.vim

# eclipse settings files
.project
.pydevproject
.settings
.buildpath

# netbeans settings files
nbproject

# Ignore OS settings files
.DS_Store*
Thumbs.db
ehthumbs.db

# Ignore files generated by PhpStorm
.idea

# and some random server stuff
.bash_history
.bashrc
errors.log

# some extras
composer.lock
config/*
/docroot/themes/custom/oc_theme/node_modules/

#One file so it can be used for content_default
!/docroot/sites/default/files/St-Anthony-seq.jpg
.editorconfig
.gitattributes

#ignore varbase files
.update-error-log
.failed-patches.txt
/temp
