// Feed icon styles for Bootstrap Barrio.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // test variables.
@import "../mixins";                      // test mixins.
// -----------------------------------------------------------------------------
 
.feed-icon {
  border-bottom: none;
  display: inline-block;
  padding: $spacer 0 0 0;
}
