.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none !important;
}

.oc_navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}

.navbar-nav {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
}

.oc_title_image_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.oc_title_image {
  width: 100%;
  max-width: 100%;
  height: auto;
  left: 0;
  position: relative;
  -o-object-fit: inherit;
     object-fit: inherit;
  z-index: -100;
}

.oc_header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  -o-object-fit: inherit;
     object-fit: inherit;
  z-index: 10;
}

.oc_head_imageh {
  height: 90vh;
}

.oc_head_noimageh {
  height: 150px;
}

@media screen and (max-width: 670px) {
  .oc_header {
    height: 300px;
  }
}

@media screen and (max-width: 460px) {
  .oc_header {
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .oc_header {
    height: 120px;
  }
}

.oc_heading {
  color: #fff !important;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
}

.oc_vinject {
  padding-top: 5px;
  font-size: 150% !important;
}

@media screen and (max-width: 576px) {
  .oc_vinject {
    padding-top: 5px;
    font-size: 200% !important;
  }
}

@media screen and (min-width: 768px) {
  .oc_vinject {
    padding-top: 15px;
    font-size: 400% !important;
  }
}

@media screen and (min-width: 992px) {
  .oc_vinject {
    padding-top: 15px;
    font-size: 400% !important;
  }
}

.site-heading {
  color: white;
}

.page-header {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 5px;
  padding-top: 0px;
}

.group_nav_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.oc_group_nav {
  width: 250px;
  /* Set a width if you like */
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 1500;
  height: 340px;
}

.oc_group_nav_text {
  display: inline-block;
  position: relative;
  top: 0px;
  line-height: 1;
}

.oc_group_nav_add_content {
  color: red !important;
}

.oc_icon_front {
  color: white !important;
}

.oc_icon_back {
  color: #930c29 !important;
}

.oc_deleteme {
  color: green;
}

/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sfr-vertical {
  width: 75px;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */
  /*
  min-width: 12em;
  *width: 12em;
  */
}

.sfr-vertical ul {
  left: -100%;
  /* MY EDIT: THIS WORKS OK AT 2nd LEVEL */
  top: 0;
}

.sfr-vertical > li {
  float: none;
}

.sfr-vertical li {
  width: 100%;
}

.sfr-vertical ul ul {
  left: -100%;
  /* MY EDIT: THIS WORKS OK AT 3rd LEVEL BUT SHADOW IS MISPLACED */
  top: 0;
}

/*** alter arrow directions ***/
.sfr-vertical.sfr-arrows > li > .sfr-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
}

/*** ESSENTIAL STYLES ***/
.sfr-menu, .sfr-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ee3159;
}

.sfr-menu li {
  position: relative;
}

.sfr-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sfr-menu > li {
  float: left;
}

.sfr-menu li:hover > ul, .sfr-menu li.sfrHover > ul {
  display: block;
}

.sfr-menu a {
  display: block;
  position: relative;
}

.sfr-menu ul ul {
  top: 0;
  left: 100%;
}

/*** DEMO SKIN ***/
.sfr-menu {
  float: left;
  margin-bottom: 1em;
}

.sfr-menu ul {
  min-width: 15em;
  /* allow long menu items to determine submenu width */
  *width: 15em;
  /* no auto sub width for IE7, see white-space comment below */
  padding-top: 9px;
  /* OC move the text down a bit relative to icons */
  padding-right: 6px;
}

.sfr-menu a {
  /*border-left: 1px solid #fff;*/
  text-decoration: none;
  zoom: 1;
  /* IE7 */
}

.sfr-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
}

.sfr-menu li:hover, .sfr-menu li.sfrHover {
  /* only transition out, not in */
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.oc_tabs_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
}

.oc_tabs {
  width: 40px;
  /* Set a width if you like */
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 1500;
}

.oc_inject {
  padding-left: 5px;
}

@media screen and (max-width: 576px) {
  .oc_inject {
    padding-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .oc_inject {
    padding-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .oc_inject {
    padding-left: 250px;
    width: 900px;
  }
}

.oc_col_width {
  max-width: 700px !important;
}

.oc_item {
  padding: 0 0 0 0 !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed !important;
}

.oc_right {
  clear: right;
  float: right;
  width: 100%;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .oc_right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oc_right {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .oc_right {
    width: 40%;
  }
}

.oc_text {
  line-height: 1.5em;
  color: #60616d;
  background-color: white;
  font-size: 18px;
}

.oc_teaser_text {
  text-transform: none;
  line-height: 1em;
  color: #60616d;
  font-size: 14px;
  width: 100%;
}

.oc_floatleft {
  float: left;
  padding-right: 30px;
  padding-top: 15px;
  line-height: 1.5em;
  color: #60616d;
  font-size: 18px;
}

.oc_summary {
  background-color: white;
}

.oc_user_column {
  float: left;
  padding: 10px;
}

.oc_user_left {
  width: 25%;
}

.oc_user_right {
  width: 75%;
}

.oc_left_align {
  text-align: left !important;
}

.oc_accordian_container {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.oc_accordion_content a {
  -webkit-transition: background-color .25s, color .15s, box-shadow .25s, opacity 0.25s, filter 0.25s, border 0.15s;
  -webkit-transition: background-color .25s, color .15s, opacity .25s, border .15s, -webkit-box-shadow .15s, -webkit-filter .25s;
  transition: background-color .25s, color .15s, opacity .25s, border .15s, -webkit-box-shadow .15s, -webkit-filter .25s;
  -o-transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s;
  transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s;
  transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s, -webkit-box-shadow .15s, -webkit-filter .25s;
}

.oc_accordion_content {
  cursor: auto;
  display: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .oc_accordion_content {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .oc_accordion_content {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .oc_accordion_content {
    display: block;
  }
}

.oc_btn_block {
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .oc_btn_block {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .oc_btn_block {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .oc_btn_block {
    display: none;
  }
}

.oc_show {
  display: block !important;
}

.oc_btn_block {
  border-style: solid;
  border-bottom: 1px;
  border-color: #e0e0e0;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none !important;
  color: #fffeff;
  background-color: #003853;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
}

.oc_task_teaser {
  height: 20px !important;
}

.oc_quiz {
  cursor: default;
}

.oc_pointer {
  cursor: pointer;
}

.oc_branding_logo {
  width: 210px;
}

@media screen and (min-width: 768px) {
  .oc_branding_logo {
    width: 420px;
  }
  body {
    margin-top: 0;
  }
}

.oc_auth_title {
  margin-top: 0;
}

.oc_iframe {
  width: 400px;
  height: 300px;
}

.oc_not_btn {
  display: none;
}

.oc_not_btn .new_two {
  float: left;
}

@media screen and (max-width: 576px) {
  .oc_not_btn {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .oc_not_btn {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  .oc_not_btn {
    display: inline-block;
  }
}

.oc_item_title {
  padding-top: 15px !important;
  white-space: normal;
  color: #fffeff;
}

.oc_page_title {
  color: #ea4846;
}

.oc_summary_text {
  line-height: 1.5em;
  color: #60616d;
  font-size: 18px;
  width: 600px;
}

.oc_right50 {
  clear: right;
  float: right;
  width: 50%;
  margin-left: 20px;
}

.oc_1 {
  height: 400px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

.oc_image_featured_box {
  position: absolute;
  color: black;
  bottom: 15px;
  right: 15px;
  max-width: 400px;
  height: 180px;
  background-color: #ffffff;
  font-size: 14px !important;
  padding: 10px 10px 10px 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

.oc_container {
  position: relative;
  height: 400px;
}

/*
 * Sample SCSS for adding Superfish CSS to themes.
 *
 * Instructions:
 *
 * 1. Change the #YOUR-BLOCK-ID (below) to the ID of your Superfish block.
 *
 * 2. Add the SCSS to your theme.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to
 *    the menu regardless of the "Style" selected in the Superfish
 *    block configuration.
 *
 */
#superfish-test .sf-style-none {
  float: left;
  margin: 0;
  padding: 0;
}

#superfish-test .sf-style-none.sf-navbar {
  width: 100%;
  background: #f0f0f0;
}

#superfish-test .sf-style-none ul {
  padding-left: 0;
}

#superfish-test .sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper {
  background: #c0c0c0;
}

#superfish-test .sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper li {
  background: transparent;
}

#superfish-test .sf-style-none a {
  color: #001010;
  padding: 0.75em 1em;
}

#superfish-test .sf-style-none a.sf-with-ul {
  padding-right: 2.25em;
}

#superfish-test .sf-style-none a:focus {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none a:hover {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none a:active {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none span.nolink {
  color: #001010;
  padding: 0.75em 1em;
}

#superfish-test .sf-style-none span.nolink.sf-with-ul {
  padding-right: 2.25em;
}

#superfish-test .sf-style-none span.nolink:hover {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none span.sf-description {
  color: #001010;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}

#superfish-test .sf-style-none.rtl span.sf-description {
  margin: 5px 5px 0 0;
}

#superfish-test .sf-style-none.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

#superfish-test .sf-style-none.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

#superfish-test .sf-style-none li {
  background: #f0f0f0;
}

#superfish-test .sf-style-none li li {
  background: #e0e0e0;
}

#superfish-test .sf-style-none li li li {
  background: #d0d0d0;
}

#superfish-test .sf-style-none li:hover {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none li:hover > ul {
  top: 40px;
}

#superfish-test .sf-style-none li.sfHover {
  background: #c0c0c0;
  outline: 0;
}

#superfish-test .sf-style-none li.sfHover > ul {
  top: 40px;
}

#superfish-test .sf-style-none .sf-sub-indicator {
  background-image: url("../images/dropdown-arrows.png");
}

#superfish-test div.sf-accordion-toggle.sf-style-none a {
  background: #f0f0f0;
  color: #001010;
  padding: 1em;
}

#superfish-test div.sf-accordion-toggle.sf-style-none a.sf-expanded {
  background: #c0c0c0;
  font-weight: bold;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li a {
  padding-left: auto;
  padding-right: 2em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li a {
  padding-left: auto;
  padding-right: 3em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li li a {
  padding-left: auto;
  padding-right: 4em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li li li a {
  padding-left: auto;
  padding-right: 5em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}

#superfish-test .sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}

#superfish-test .sf-menu.sf-style-none.rtl ul.sf-multicolumn li.sf-multicolumn-wrapper ol li.sf-multicolumn-column {
  float: right;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li.sf-expanded {
  background: #c0c0c0;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li.sf-expanded > a {
  font-weight: bold;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li a {
  padding-left: 2em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li a {
  padding-left: 3em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li li a {
  padding-left: 4em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li li li a {
  padding-left: 5em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li li span.nolink {
  padding-left: 3em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li li span.nolink {
  padding-left: 2em;
}

#superfish-test .sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}

#superfish-test .sf-menu.sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper ol {
  margin: 0;
  padding: 0;
}

#superfish-test .sf-menu.sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper ol li {
  margin: 0;
  padding: 0;
}

#superfish-test .sf-menu.sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper ol li.sf-multicolumn-column {
  display: inline;
  float: left;
}

#superfish-test .sf-menu.sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper a.menuparent {
  font-weight: bold;
}

#superfish-test .sf-menu.sf-style-none ul.sf-multicolumn li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: bold;
}
